<!--carousel-->

<div class="container-fluid mt-2">
<div id="carouselex" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/images/restaurant.jpg" height="500" class="d-block w-100" alt="img">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/images/carousel.jpg" height="500" class="d-block w-100" alt="img">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/images/table.jpg" height="500" class="d-block w-100" alt="img">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselex" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselex" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>

<div class="container-fluid d-flex">
  <div class="row " >
    <div class="col-6 ">
      <div class="row">
        <div class=" col-6 justify-content-around p-2">
         <img src="../../assets/images/pizza.jpg" class="img-fluid " height="200" alt="img">
         <h5 class="text-center">Starters</h5>
         <p>
          we are known for our lip smocking Startersand amet limet start ebnd stiufw
         </p>
        </div>
        <div class=" col-6 justify-content-around p-2">
          <img src="../../assets/images/panipuri.jpg"  class="img-fluid" height="200" alt="img">
          <h5 class="text-center">Starters</h5>
          <p>
            we are known for our lip smocking Startersand amet limet start ebnd stiufw
          </p>
        </div>
      </div>
    </div>
    <div class="col-6  ">
      <div class="row">
        <div class=" col-6 justify-content-around p-2">
          <img src="../../assets/images/potatotikki.jpg" class="img-fluid" height="200" alt="img">
          <h5 class="text-center">Starters</h5>
          <p>
            we are known for our lip smocking Startersand amet limet start ebnd stiufw
          </p>
        </div>
        <div class=" col-6 justify-content-around p-2">
          <img src="../../assets/images/paneer65.jpg" class="img-fluid" height="200" alt="img">
          <h5 class="text-center">Starters</h5>
          <p>
            we are known for our lip smocking Startersand amet limet start ebnd stiufw
          </p>
        </div>
      </div>
    </div>
    <a class="btn btn-danger text-white text-uppercase w-auto mx-3" href="#" routerLink="/weserve-component" routerLinkActive="active">
    View More  <i class="bi bi-arrow-right-square"></i>
    </a>
    
  </div>
</div>




