@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

h1{
    color:bisque;
    font-size: 75px;
    font-family: 'Playfair Display', serif;

}
p{
    font-size: 20px;
}

a:active{
    color:yellow;
}

a{
    color:whitesmoke;
    font-size: 18px;
}
a:hover{
    color:deeppink;
}


.body{
    background-image: url("../../assets/images/header1.jpg");
    background-position: 0-65px;
    
}

.head{
    background-image: url("../../assets/images/header1.jpg");
    background-position: 0 0;
}