<!--navbar-->
<div class="container-fluid head bg-secondary">
    <nav class="navbar navbar-expand-lg ">
        <img src="../../assets/images/logo.jpg" alt="Restaurant" width="90" height="50">
        
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/weserve-component" routerLinkActive="active">We Serve</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/aboutus-component" routerLinkActive="active">About Us</a>
            </li>        
           <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/login-component" routerLinkActive="active" >SignIn/SignUp</a>
            </li>
            
          </ul>
        </div>
    </nav>
</div>

<div class="container-fluid body text-center">
    <h1 ><i>Restro</i></h1>
    

</div>
    
    