<div class="container-fluid  mt-4">
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="row ">
          <div class="col col-sm-6 ">
            <div class="d-flex justify-content-end align-items-right" style="height:45.5vh;">
                <img src="../../assets/images/cancel4.jpg" style="width:300px; height:300px;">
              </div>
          </div>
          <div class="col col-sm-6">
              <div class="d-flex justify-content-start align-items-end" style="height:45.5vh;">
                <img src="../../assets/images/cancel1.jpg" style="width:200px; height:200px;">
              </div>
          </div>
        </div>
        <div class="row m-3">
            <div class="col col-sm-6">
            <div class="d-flex justify-content-end align-items-right" style="height:45.5vh;">
                <img src="../../assets/images/cancel3.jpg" style="width:200px; height:200px;">
              </div>
              </div>
          <div class="col col-sm-6">
            <div class="d-flex justify-content-start align-items-top" style="height:45.5vh;">
                <img src="../../assets/images/cancel2.jpg" style="width:300px; height:300px;">
              </div>
          </div>
        </div>

      </div>
      
    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
    
    <div class="row  mx-4 ">
    <h1 >Book a Table</h1>
    <h5>Reservation</h5>
    <div class="col-lg-6 col-md-12 form-group mt-3">
        <input type="text" class="form-control" name="Name" id="Name" placeholder="Your name"/>
    </div>
    <div class="col-lg-6 col-md-12 form-group mt-3">
        <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email"/>
    </div>
    <div class="col-lg-6 col-md-12 form-group mt-3">
        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Mobile number"/>
    </div>
    <div class="col-lg-6 col-md-12 form-group mt-3">
        <input type="date" class="form-control" name="Date" id="Date" placeholder="Date"/>
    </div>
    <div class="col-lg-6 col-md-12 form-group mt-3">
        <input type="time" class="form-control" name="Phone" id="Phone" placeholder="Time"/>
    </div>
    <div class="col-lg-6 col-md-12 form-group mt-3">
        <input type="number" class="form-control" name="People" id="People" placeholder="No. of people"/>
    </div>
    
    <div class="m-4 d-flex justify-content-center">
        <button class="btn btn-primary text-uppercase border-rounded d-block ">
          Book a Table
        </button>
    </div>
    </div> 
    </div> 
</div>
</div>



  

    
