<div class="about container-fluid about-dark bg-light mt-3">
    
    <div class="row">
        <div class="col-lg-6 col-md-12 ">
            <img src="../../assets/images/about1.jpg" width="100%" height="450">
        </div>
        <div class="col-lg-5 col-md-12 mx-4"><br>
            <br>
            <h4 style=color:darkred><i><b>GOOD FOOD<br>
                GOOD MOOD</b></i>
            </h4>
            <br>
            <p style=color:darkred><i>We love restaurants as much as you do. That’s why we’ve been helping them fill tables since 1999. Whether you’re browsing for a quick bite or planning a big night, <b>Restro</b> will help you discover the perfect dining experience. Your new favorite restaurant is out there – go ahead, dig in!</i></p>
            <br>
            <p style=color:firebrick><em><b>WE WILL GIVE YOU AN EXPERIENCE<br> YOU WILL NEVER FORGET</b></em></p>
        </div>
    </div>

</div>
