<div class="container-fluid">
  <h1 class="m-4"><i>Check Our tasty menu</i></h1>
  <div class="row gy-3 my-3">
    <div class="card-group">
        <div class="card mx-2">
          <img src="../../assets/images/baatavada.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Batatavada</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/paneer65.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Paneer65</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/potatotikki.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Potatotikki</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/panipuri.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Panipuri</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
    </div>
  </div>
  <div class="row gy-3 my-3">
    <div class="card-group">
        <div class="card mx-2">
          <img src="../../assets/images/pizza.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Pizza</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/salad.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Fruit Salad</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/chocolate delice.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Chocolate delice</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/cauliflower.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Cauliflower</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
    </div>
  </div>
  <div class="row gy-3 my-3">
    <div class="card-group">
        <div class="card mx-2">
          <img src="../../assets/images/chicken.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Chicken</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/salad.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Fruit Salad</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/panipuri.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
        <div class="card mx-2">
          <img src="../../assets/images/pizza.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
    </div>
  </div>
  <div class="m-4 d-flex justify-content-center">
    <a class="btn btn-primary text-white  mx-3" href="#" routerLink="/booktable-component" routerLinkActive="active">
       BOOK A TABLE  
    </a>
  </div>
  <div class="m-4 d-flex justify-content-center " >
    <b><p>Do you want to <a href="#" class="text-dark" routerLink="/canceltable-component" routerLinkActive="active">Cancel</a> your table</p></b>
  </div>
</div>


